@import url('https://fonts.googleapis.com/css2?family=Coustard&display=swap');

:root {
  --font: 'Coustard', serif;
  --pink: #FF66B3;
  --lightGrey: #F0F6F6;
  --teal: #BBE6E4;
  --blue: #42BFDD;
  --darkBlue: #084B83;
  --yellow: #ebe0a7;
}
body {
  /* background-color: var(--lightGrey); */
  background-image: url("assets/images/CleaningProducts.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.home-pic {
  background-size: cover;
  max-height: 30vh;
  border-radius: 80px;

}
/* Header styling */
.header {
  /* background-color: var(--yellow); */
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}
.rightNav {
  padding-top: 1rem;
  position: absolute;
  right: 2rem;

}

.header-title {
  font-family: var(--font);
  font-size: x-large;
  color: var(--darkBlue);
  text-decoration: none;
  text-align: center;
  padding: 10px 10px;
}

/* Footer Styling */
.footer{
  /* background-color: var(--yellow); */
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-title{
  font-family: var(--font);
  font-size: x-large;
  color: var(--darkBlue);
}

/* Signup/Login Styles */
.form-title{
  font-family: var(--font);
  color: var(--darkBlue);
  text-align: center;
}

.form-input{
  font-family: var(--font);
  color: var(--darkBlue);
  text-align: center;
}

.form-card{
  text-align: center;
}

.card-style{
display: flex;
justify-content: center;
text-align: center;
margin-top: 2rem;
opacity: 80%;
}


/* Media Queries */

@media screen {
  @media only screen and (max-width: 600px) {
    .header {
      justify-content: space-between;
    }
    .rightNav {
      padding-top: .5rem;
      right: 0;
    }
  }
}