@import url('https://fonts.googleapis.com/css2?family=Coustard&display=swap');

:root {
  --font: 'Coustard', serif;
  --pink: #FF66B3;
  --lightGrey: #F0F6F6;
  --teal: #BBE6E4;
  --blue: #42BFDD;
  --darkBlue: #084B83;
  --yellow: #ebe0a7;
}
body {
  min-height: 100vh;
}
.bgImg{
  background-image: url("assets/images/CleaningProducts.jpg");
  height: 100vh;
  width: 100%;
  top: 0;
  z-index: -9999;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
}