.addChildBtn--profile {
    margin-top: .5rem;
    padding-top: .5rem;
    position: absolute;
    right: .5rem;
}

h1 {
    font-family: var(--font);
    color: var(--darkBlue);
    text-align: center;
}

h5{
    font-family: var(--font);
    color: var(--darkBlue);
}

/* h4{
    display: inline-block;
    position: relative;
    padding: 5rem;
    text-align: center;
} */


.card-body--profile{
    /* width: 40rem; */
}

.card--profile{
    width: 40rem;
} 

.table--profile {
    width: 40rem;
    position: relative;
}

@media only screen and (max-width: 600px) {
    h1{
        text-align: left;
        margin-left: .5rem;
    }
}
@media only screen and (max-width: 600px) {
    .card-body--profile{
        /* margin-left: 2rem; */
        width: 18rem;
    }

    .card--profile{
        margin-left: 2rem;;
        width: 18rem;
    }
}