
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .container--rewards {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 300px;
    background: white;
    margin: 100px auto 0 !important;
    word-break: break-all;
    border: 1px solid rgba(0, 0, 0, 0.274);
  }
  
  .cb-tabs--rewards {
    display: flex !important;
    justify-content: flex-start !important; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.228);
  }
  .tabs--rewards {
  
    padding: 10px;
    text-align: center;
    width: 10%;
    /* background: rgba(97, 96, 96, 0.247); */
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    box-sizing: content-box;
    position: relative;
    outline: none;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.276);
    
  }
  .tabs--rewards:not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.274);
  }
  
  .active-tabs--rewards  {
    border-bottom: 1px solid transparent;
    font-weight: bold;
  }
  
  .active-tabs--rewards::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 4px;
    background: rgb(88, 147, 241);
  }
  .tab-1--rewards::before {
    left: 50%;
    width:calc(100% + 2px)
  }
  
  .boardHeader--rewards {
    display: flex;
    justify-content: flex-end;
  }
  .boardHeader--rewards h2 {
    position: absolute;
    left: 40%;
  }
  .addRewardBtn--rewards {
    margin-top: .2rem ;
  }
  .noBorder--rewards {
    border: none;
  }
  
  .rightNav--rewards {
      padding-top: 1.25rem;
      position: absolute;
      right: 2rem;
    }
    
  .content-tabs--rewards {
    flex-grow : 1;
  }
  .content--rewards {
    background: white;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: none;
  }
  .content--rewards h2 {
    padding: 0px 0 5px 0px;
  }
  .content--rewards hr {
    width: 100px;
    height: 2px;
    background: #222;
    margin-bottom: 5px;
  }
  .disableBtn--rewards {
    background-color: #838282c1 !important;
    border-color: #222 !important;
    cursor: default !important;
    color: black !important;
  }
  .content--rewards p {
    width: 100%;
    height: 100%;
  }
  .active-content--rewards {
    display: block;
  }
  .addRewardsModal--rewards {
    margin-top: 5rem;
  }
  
  /* Media Queries */
  
  @media only screen and (max-width: 600px) {
    .tabs--rewards {
      width: 25%;
    }
    .tab-1--rewards::before {
      left: 45%;
      width:calc(100% + 13px)
    }
    .boardHeader--rewards h2 {
      position: absolute;
      left: 25%;
    }
    .addRewardsBtn--rewards {
      top: 0.15rem;
      right: .3rem;
      margin-top: .05rem;
      
    }
  }