.choreBoard {
    background-color: white;
    position: relative;
    height: 50vh;
    border: 2px solid black;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin-top: 2.5rem;
}

.choreBoardHeader Button {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.choreBoardHeader h1 {
    font-weight: 600;
    margin-left: .5rem;
    text-align: center;
}
.choreBoardHeader {

    border-bottom: 2px solid black;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
    .choreBoard {
        margin-top: 2.5rem;
    }
    .choreBoardHeader Button {
        right: .65rem;
        top: .65rem;
        height:2rem;
        width: 7rem;
        font-size: small;
    }
    .choreBoardHeader h1 {
        text-align: left;
    }
    .addChoreModal {
        margin-top: 5rem;
        text-align: c;
    }
}